* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #040404;
}

.wrapper {
	/* background: url('img/linkin1.jpg') 0 0/ 100% 100% no-repeat; */
	width: 80%;
	height: 90vh;
	position: relative;
	margin: 0 auto;
	background-color: #5c4dd1;
}

.wrapper__img {
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	/* transition: all 2s ease-out; */
	display: block;
	/* margin: 0 auto; */
	
}

.container {
	width: 100%;
	height: inherit;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}

.player {
	margin: 0 auto;
	max-width: 250px;
	height: 390px;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 5px 5px 5px rgb(33, 32, 32);
	/* transition: all 2s ease-out; */
}

.logo {
	width: 100%;
	height: 200px;
}

.logo img {
	width: inherit;
	height: inherit;
}

h1 {
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 20px 5px 20px;
}

p {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	text-transform: capitalize;
	padding: 0px 0 20px 20px;
}

.progress {
	width: 95%;
	height: 15px;
	margin: 0 auto;
	padding: 5px 0;
	background-color: #e5e2e2;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}

.time_duration {
	position: absolute;
	left: 80%;
	top: -20px;
	color: rgb(96, 95, 95);
}

.time {
	position: absolute;
	left: 0;
	top: 18px;
	color: rgb(110, 109, 109);
}

.line_progress {
	width: 0%;
	height: 5px;
	background-color: #0a0a0a;
	border-radius: 3px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 170px;
	margin: 10px auto;
}

.buttons img {
	width: 38px;
	height: 38px;
	cursor: pointer;
	transition: all 0.5s;
}

.buttons img:hover {
	width: 38px;
	height: 38px;
	border: 1px solid rgb(5, 5, 5);
	border-radius: 5px;
}

.button_play img {
	width: 75px;
	height: 75px;
}

.button_play img:hover {
	width: 75px;
	height: 75px;
	border: 1px solid rgb(5, 5, 5);
	border-radius: 5px;
}

.button_next img {
	transform: rotate(180deg);
	transition: all 2s ease-out;
}



footer {
	width: 80%;
	height: 10vh;
	background-color: #646262;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.block_link_git {
	width: 50px;
	height: 50px;
	margin: 0 0 0 20px;
}

.block_link_git img {
	width: 50px;
	height: 50px;
}

.block_link_rss {
	width: 100px;
	height: 50px;
	margin: 0 20px 0 0;
}

.block_link_rss img {
	width: 100px;
	height: 50px;
}

.yer {
	height: 50px;
}

.yer p {
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
	padding: 10px 0 0 0;
}